.header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .logo {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.9px;
    margin-right: auto;
  }
.menu-toggle {
    position: relative;
    display: none;
    margin: 0;
    margin-right: 15px;
    font: inherit;
    border: 0;
    text-transform: none;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    color: inherit;
    background-color: transparent;
    overflow: visible;
    cursor: pointer;
    z-index: 3;
  }
  
  .menu-toggle:before {
    content: '';
    position: absolute;
    top: 48%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 32px #00b9ff inset;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: box-shadow 0.8s ease;
    transition: box-shadow 0.8s ease;
  }
  
  .js-nav-open .menu-toggle:before {
    box-shadow: 0 0 0 32px #111920 inset, 0 0 0 2000px #00b9ff;
  }
  
  .navigation ul li a.current {
    color: #00b9ff;
  }
  
  .navigation ul li a.current:before {
    background-color: #00b9ff;
    -webkit-transition-delay: 0;
    transition-delay: 0;
  }
  
  .navigation ul li a.current:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .menu-toggle:hover .menu-toggle__inner,
  .menu-toggle:hover .menu-toggle__inner:before,
  .menu-toggle:hover .menu-toggle__inner:after {
    background-color: #fff;
  }
  
  .menu-toggle:focus {
    box-shadow: none;
  }
  
  .menu-toggle__box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  
  .menu-toggle__inner,
  .menu-toggle__inner:before,
  .menu-toggle__inner:after {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: transform, background-color;
    transition-property: transform, background-color, -webkit-transform;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  
  .menu-toggle__inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  
  .menu-toggle__inner:before,
  .menu-toggle__inner:after {
    content: '';
    display: block;
  }
  
  .menu-toggle__inner:before {
    top: -8px;
  }
  
  .menu-toggle__inner:after {
    bottom: -8px;
  }
  
  .menu-toggle--collapse .menu-toggle__inner {
    top: auto;
    bottom: 0;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .menu-toggle--collapse .menu-toggle__inner:after {
    top: -16px;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  }
  
  .menu-toggle--collapse .menu-toggle__inner:before {
    -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .js-nav-open .menu-toggle--collapse .menu-toggle__box {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
  }
  
  .js-nav-open .menu-toggle--collapse .menu-toggle__inner {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    -webkit-transition-delay: 0.32s;
    transition-delay: 0.32s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .js-nav-open .menu-toggle--collapse .menu-toggle__inner:after {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  }
  
  .js-nav-open .menu-toggle--collapse .menu-toggle__inner:before {
    top: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .navigation ul {
    font-size: 0;
  }
  
  .navigation ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
  }
  
  .navigation ul li + li {
    margin-left: 34px;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
  }
  
  .navigation ul li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .navigation ul li a:before {
    background-color: #00b9ff;
    -webkit-transition-delay: 0;
    transition-delay: 0;
  }
  
  .navigation ul li a:hover,
  .navigation ul li a:focus {
    color: #111920;
  }
  
  .navigation ul li a:hover:before,
  .navigation ul li a:focus:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .js-nav-open .navigation {
    pointer-events: auto;
  }
  
  .js-nav-open .navigation ul li:nth-child(1),
  .js-nav-open .navigation ul li:nth-child(2),
  .js-nav-open .navigation ul li:nth-child(3),
  .js-nav-open .navigation ul li:nth-child(4),
  .js-nav-open .navigation ul li:nth-child(5),
  .js-nav-open .navigation ul li:nth-child(6) {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  @media screen and (max-width: 768px){
    .menu-toggle {
    display: inline-block;
    }
}